APP_NAME=Geebl
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://laravel.test
DUSK_DRIVER_URL=http://selenium:4444/wd/hub

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=test
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=sail
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=local
AWS_ENDPOINT=http://localhost:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700

STRIPE_KEY=pk_test_51L1IXDIwaPxaMAE4VKDFY6JiR05BopCAE5T4MKXj1gJ6Lksmy6N3YsI8m77PN6OEE76yp2MhG92cKjn4NbZQN0GW00oB0BNyL3
STRIPE_SECRET=sk_test_51L1IXDIwaPxaMAE4LYYiYHCP0nmnXWjNaDOYBRQtHya3Him5VLXk68bGxum0QQE4Os9HXh9fOwmjDxhibNe4qawR00Esy0Xv70

CASHIER_CURRENCY=eur
